{% extends "base.html" %}

{% block content %}

<h1>Новый плейлист</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
    {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="name") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>Введите ссылку на изображение
             {{form.img}}</p>
    <p>{{ form.submit(type="submit", class="btn btn-success", href="/") }}</p>
    {{message}}
    {{ message }}
</form>
{% endblock %}