{% extends "base.html" %}

{% block content %}
<h1>Журнал работ</h1>
{% for item in jobs%}
<h3>Работа с id{{ item.id }}</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Название работы</th>
        <th scope="col">Ответственный</th>
        <th scope="col">Продолжительность</th>
        <th scope="col">Команда</th>
        <th scope="col">Завершена</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ item.job }}</td>
        <td>{{ item.user.name }} {{ item.user.surname }}</td>
        <td>{{ item.work_size }}</td>
        <td>{{ item.collaborators }}</td>
        <td>{{ item.is_finished }}</td>
    </tr>
    </tbody>
</table>
{% endfor %}
{% endblock %}