{% extends "base.html" %}

{% block content %}

<body>
         {% if playlists %}
            {% for playlist in playlists %}
                <a type="button" class="btn btn-dark" style="text-color: white; min-width: 100px" href="/add_songs/{{playlist}}">{{playlist}}</a>
            {% endfor %}
         <a type="button" class="btn btn-dark" href="/add_playlist">+ Добавить плейлист</a>
         {% else %}
            <a type="button" class="btn btn-dark" href="/add_playlist">+ Добавить плейлист</a>
         {% endif %}
</body>
{% endblock %}